* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

.app_container {
  margin: auto;
  background-color: #111315;
}

.market_main_tag {
  text-align: center;
}

.market_section1 {
  padding: 100px 0;
  width: 50%;
  margin: auto;
}

.market_font1 {
  font-size: 11px;
  color: #efefef9a;
}

.market_font2 {
  font-size: 50px;
  color: #efefef;
  padding: 20px 0;
}

.market_font3 {
  font-size: 11px;
  color: #efefef9a;
}

.market_section2 {
  width: 90%;
  margin: auto;
  padding: 40px 40px;
  background-color: #020a11;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 15px;
}

.market_article {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  gap: 15px;
  color: #111315;
  border-radius: 15px;
  transition: 1s;
}

.market_article:hover {
  transform: scale(1.05);
}


.market_article_box {
  list-style: none;
  text-align: center;
}

.market_details_item {
  padding: 5px 0;
  color: #020a11;
}


@media only screen and (max-width: 1024px) {
  .market_section1 {
    padding: 100px 0;
    width: 60%;
    margin: auto;
  }

  .market_font2 {
    font-size: 45px;
    color: #efefef;
    padding: 20px 0;
  }

  .market_section2 {
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #020a11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .market_section1 {
    padding: 100px 0;
    width: 70%;
    margin: auto;
  }

  .market_font1 {
    font-size: 9px;
    color: #efefef9a;
  }

  .market_font2 {
    font-size: 40px;
    color: #efefef;
    padding: 20px 0;
  }

  .market_font3 {
    font-size: 10px;
    color: #efefef9a;
  }

  .market_section2 {
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #020a11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .market_section1 {
    padding: 100px 0;
    width: 90%;
    margin: auto;
  }

  .market_font2 {
    font-size: 28px;
    color: #efefef;
    padding: 20px 0;
  }

  .market_section2 {
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #020a11;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .market_font2 {
    font-size: 25px;
    color: #efefef;
    padding: 20px 0;
  }
}