* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

.app_container {
  margin: auto;
  background-color: #111315;
}

.main_tag {
  text-align: center;
}

.home_section1 {
  padding: 50px 0;
  width: 50%;
  margin: auto;
}

.home_font1 {
  font-size: 11px;
  color: #efefef9a;
}

.home_font2 {
  font-size: 50px;
  color: #efefef;
  padding: 20px 0;
}

.home_font3 {
  font-size: 11px;
  color: #efefef9a;
}

.home_section2 {
  width: 75%;
  margin: auto;
  padding: 20px 0 80px 0;
}

.home_section2 input {
  width: 100%;
  margin: auto;
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.home_section2 input::placeholder {
  color: #172b4d;
  transition: 3s;
}

.home_section2 input:hover::placeholder {
  transform: translate(10px, 0);
  color: #172b4d50;
}

.home_section3 {
  width: 90%;
  margin: auto;
  padding: 40px;
  background-color: #020a11;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 15px;
}

.coin_article {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  gap: 10px;
  color: #111315;
  border-radius: 15px;
  transition: 1s;
}

.coin_article:hover {
  transform: scale(1.05);
}

.coin_img {
  width: 60px;
  object-position: center;
  object-fit: cover;
}

.coin_details_box {
  list-style: none;
  text-align: center;
}

.coin_details_item {
  padding: 5px 0;
  color: #020a11;
}

.home_section3_btn {
  padding: 8px 15px;
  background-color: #0077fe;
  border: none;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .home_font2 {
    font-size: 45px;
    color: #efefef;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 820px) {
  .home_font1 {
    font-size: 9px;
    color: #efefef9a;
  }

  .home_font2 {
    font-size: 35px;
    color: #efefef;
    padding: 20px 0;
  }

  .home_font3 {
    font-size: 9px;
    color: #efefef9a;
  }

  .home_section3 {
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #020a11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .home_section1 {
    padding: 30px 0 10px 0;
    width: 80%;
    margin: auto;
  }

  .home_font2 {
    font-size: 30px;
    color: #efefef;
    padding: 8px 0;
  }

  .home_font3 {
    display: none;
  }

  .home_section2 {
    width: 75%;
    margin: auto;
    padding: 0 0 20px 0;
  }

  .home_section2 input {
    width: 100%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 12px;
  }

  .home_section3 {
    width: 90%;
    margin: auto;
    padding: 10px 10px;
    background-color: #020a11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    border-radius: 15px;
  }

  .coin_article {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 3px 3px;
    gap: 10px;
    color: #111315;
    border-radius: 15px;
    transition: 1s;
    font-size: 11px;
  }

  .coin_img {
    width: 40px;
    object-position: center;
    object-fit: cover;
  }

  .home_section3_btn {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .home_section1 {
    padding: 30px 0 20px 0;
    width: 90%;
    margin: auto;
  }
}
